html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6, ul, p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
ul {
    list-style: none;
}
body {
    font-family: Nanum Gothic;
    text-align: center;
}
img {
    display: block;
    max-width: 100%;
}
// * {outline: 1px solid tomato;}
// Container styles
.section {
    display: inline-block;
    max-width: 375px;
}
.container {
    max-width: 375px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}
.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;
}
.header-container {
    width: 100%;
    max-width: 375px;
    height: 57px;
    border: none;
}
.header-content {
    position: fixed;
    top: calc(10% - 7px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 375px;
    border: none;
    background-color: #ffffff;
}
.hero-section {
    display: inline-block;
    text-align: center;
}
.collection-section {
    margin-bottom: 40px;
    text-align: left;
}
.gender-section-container {
    margin-bottom: 50px;
}
.link {
    color: #6D6A6A;
    text-decoration: none;
}
.relative {
    position: relative;
    top: 0;
    left: 0;
}
.is-hidden {
    display: none;
    pointer-events: none;
}
