.for-her-section {
    width: auto;
    margin-bottom: 240px;
}
.for-her-section-bg-image {
    max-width: 250px;
}
.for-her-section-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}