.for-him-section {
    width: auto;
    margin-bottom: 395px;
}
.for-him-section-bg-image {
    max-width: 250px;
}
.for-him-section-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
    margin-bottom: 20px;
}