.main-header {
    font-size: 24px;
    text-align: left;
}
.section-header {
    font-size: 18px;
    text-align: left;
}
.collection-header {
    margin-bottom: 34px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.for-her-header {
    position: absolute;
    top: 30%;
    left: 49%;
    transform: translate(-50%, -30%);
    font-size: 24px;
    font-weight: 700;
    opacity: 60%;

}
.for-him-header {
    position: absolute;
    top: 30%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 700;
    opacity: 60%;

}
.magazine-header {
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: normal;
    opacity: 75%;
}