.menu-button {
    @media screen and (max-width: 224px) {
        max-width: 22px;
        max-height: 22px;
        padding: 3px 3px 3px 3px;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 225px) and (max-width: 250px) {
        max-width: 30px;
        max-height: 30px;
        padding: 3px 3px 3px 3px;
        margin-right: 6px;
    }
    @media screen and (min-width: 251px) and (max-width: 300px) {
        max-width: 44px;
        max-height: 38px;
        padding: 3px 3px 3px 3px;
        margin-right: 12px;
    }
    @media screen and (min-width: 301px) {
        max-width: 44px;
        max-height: 38px;
        padding: 17px 11px 11px 17px;
        margin-right: 12px;
    }
    background-color: #ffffff;
    border: none;
    &:hover,
    &:focus {
        outline: none;
    }
}
.menu-icon {
    @media screen and (max-width: 200px) {
        max-width: 25px;
        max-height: 25px;
    }
    @media screen and (min-width: 201px) {
        max-width: 17px;
        max-height: 11px;
    }
}
.magnifying-glass-button {
    background-color: #ffffff;
    border: none;
}
.magnifying-glass {
    max-width: 15px;
    max-height: 15px;
}
.favorites-button {
    @media screen and (max-width: 224px) {
        max-width: 25px;
        max-height: 25px;
        padding: 3px 3px 3px 3px;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 225px) and (max-width: 250px) {
        max-width: 25px;
        max-height: 25px;
        padding-top: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        padding-left: 3px;
        margin-right: 6px;
    }
    @media screen and (min-width: 251px) {
        max-width: 36px;
        max-height: 35px;
        padding: 10px 7px 7px 7px;
        margin-right: 12px;
    }
    background-color: #ffffff;
    border: none;
    &:hover,
    &:focus {
        outline: none;
    }
}
.favorites-icon {
    @media screen and (max-width: 150px) {
        max-width: 17px;
        max-height: 14px;
    }
    @media screen and (min-width: 158px) and (max-width: 200px) {
        max-width: 18px;
        max-height: 15px;
    }
    @media screen and (min-width: 201px) {
        max-width: 20px;
        max-height: 16px;
    }
}
.curt-button {
    @media screen and (max-width: 157px) {
        max-width: 25px;
        max-height: 25px;
        padding: 3px 3px 3px 3px;
    }
    @media screen and (min-width: 158px) and (max-width: 230px) {
        max-width: 25px;
        max-height: 25px;
        padding: 4px 0px 3px 0px;
    }
    @media screen and (min-width: 231px) and (max-width: 250px) {
        max-width: 30px;
        max-height: 30px;
        // padding: 3px 3px 3px 3px;
    }
    @media screen and (min-width: 251px) {
        max-width: 36px;
        max-height: 38px;
        padding: 13px 13px 7px 5px;
    }
    // max-width: 36px;
    // max-height: 38px;
    // padding: 13px 13px 7px 5px;
    background-color: #ffffff;
    border: none;
}
.curt-icon {
    @media screen and (max-width: 150px) {
        max-width: 18px;
        max-height: 22px;
    }
    @media screen and (min-width: 158px) and (max-width: 199px) {
        max-width: 26px;
        max-height: 26px;
    }
    @media screen and (min-width: 200px) and (max-width: 250px) {
        max-width: 25px;
        max-height: 25px;
    }
    @media screen and (min-width: 251px) {
        max-width: 14px;
        max-height: 18px;
    }
    // max-width: 14px;
    // max-height: 18px;
}