.menu-button {
    width: 44px;
    height: 38px;
    padding-top: 17px;
    padding-right: 11px;
    padding-bottom: 11px;
    padding-left: 17px;
    background-color: #ffffff;
    border: none;
}
.menu-icon {
    width: 17px;
    height: 11px;
}
.magnifying-glass-button {
    background-color: #ffffff;
    border: none;
}
.magnifying-glass {
    width: 15px;
    height: 15px;
}
.favorites-button {
    width: 36px;
    height: 35px;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    background-color: #ffffff;
    border: none;
}
.favorites-icon {
    width: 22px;
    height: 18px;
}
.curt-button {
    width: 36px;
    height: 38px;
    padding-top: 13px;
    padding-right: 13px;
    padding-bottom: 7px;
    padding-left: 5px;
    background-color: #ffffff;
    border: none;
}
.curt-icon {
    width: 14px;
    height: 18px;
}