.menu-backdrop {
    position: fixed;
    top: 14%;
    left: 0;
    width: 100%;
    height: 291px;
    background-color: transparent;
    // overflow-y: scroll;
    opacity: 0;
}
.menu-backdrop.is-open {
    opacity: 1;
    pointer-events: all;
    z-index: 3;
}
.menu-modal {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 376px;
    padding: 18px 17px 16px 19px;
    background-color: #ffffff;
    text-align: left;
    pointer-events: all;

}
.menu-profile-container {
    position: relative;
    width: 100%;
    text-align: right;
}
.menu-modal-button {
    padding: 0 0 0 0;
    border: none;
    background-color: #ffffff;
    font-size: 18px;
    font-family: Nanum Gothic;
}
.menu-modal-link {
    font-size: 18px;
    font-family: Nanum Gothic;
    color: #000000;
    text-decoration: none;
}
.profile-button {
    width: 91px;
    height: 20px;
    margin-bottom: 17px;
}
.button-list {
    padding-left: 2px;
}
.button-list-item {
    height: 62px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #B1B1B1;
}